/* Base Button Style */
.button {
  padding: 12px 24px;
  font-size: 16px;
  font-family: var(--font-family-primary);
  font-weight: 600;
  color: var(--primary);
  background-color: var(--white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  transition: background-color 0.3s ease, transform 0.2s ease;
  position: relative;
  z-index: 1;
  word-break: break-all;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: var(--hover-color);
  transition: left 0.3s ease-in-out;
  z-index: 0;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: var(--white);
}

.button:hover::before {
  left: 0;
}

.button span {
  position: relative;
  z-index: 2; /* Ensures text is above both button and pseudo-element */
}

/* Primary Button */
.button-primary {
  background-color: var(--primary-color);
  color: var(--white);
}

.button-primary::before {
  background-color: var(--hover-color-primary);
}

.button-primary:hover {
  color: var(--white);
}

/* Secondary Button */
.button-secondary {
  background-color: var(--primary);
  color: var(--black);
}
.button-secondary span {
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
}

.button-secondary::before {
  background-color: var(--hover-color); /* Define a hover color for secondary */
}

.button-secondary:hover {
  color: var(--white);
}

.header-btn {
  padding: 7px 24px;
}
